<div class="container mx-auto">
  <form class="center-element" action='@Url.Action("VerificarUsuario", "Home")'>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" name="UserName" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="Contraseña" class="form-control" id="exampleInputPassword1">
      <div id="emailHelp" class="form-text">No compartiremos tu contrasena con nadie.</div>
    </div>
    <div style="margin-bottom: 1vw;">
      <a href='@Url.Action("Olvide", "Home")' class="link-primary; question" >¿Olvidaste tu contrasena?</a>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

    <p style="margin-top: 8%; margin-bottom: 8%;">&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&nbsp;&nbsp;O&nbsp;&nbsp;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</p>

    <p>Eres nuevo? <a href='@Url.Action("Registro", "Home")'>Registrate!</a></p>
    
  </form>
</div>
