
<form id="change-password-form" action="/lo/reset" method="post">

<div class="form-group">
              <label for="newPassword">Password</label>
              <input type="password" id="newPassword" name="newPassword" class="form-control">
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <br />
              <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control">
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div id="completed-view" style="display: none" class="row">
        Nice work, you changed your password.
      </div>
    </div>