
<h1 class="container" style="margin-bottom: 7vw;">Politica de Privacidad</h1>

<p>Creemos que tu privacidad es importante. Para el responsable de esta web, que leas y muestres interés en este
apartado demuestra que tienes interés en la misma. Deberías hacerlo cada vez que visitas nuevos sitios web,
especialmente si te van a solicitar datos personales. A continuación, en este documento, te explicamos qué datos
personales recabamos, en base a qué, durante cuánto tiempo se almacenarán y aspectos relacionados con la normativa
de protección de datos, en cumplimiento con la legislación vigente. Te animamos a leer detenidamente estos términos
antes de facilitar tus datos personales. Para los menores de 14 años se requiere el consentimiento de los padres o
tutores para el tratamiento de sus datos. Si eres menor de 14, no deberías dejar tus datos en eta web a menos que lo
autoricen tus padres. En ningún caso se recabarán del menor de edad datos relativos a la situación profesional,
económica o a la intimidad de los otros miembros de la familia, sin el consentimiento de éstos. Si tienes cualquier
duda al respecto, por favor, contacta a través de las direcciones de correo electrónico del responsable del tratamiento
o, en su caso, del delegado de protección de datos. Este responsable asume un compromiso permanente con la
privacidad y garantiza las mejores prácticas en el tratamiento de tus datos personales.
En cumplimiento con lo dispuesto en la normativa de protección de datos (Reglamento UE 2016/679, de 27 de abril
de 2016), y de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y Garantía de los
Derechos Digitales, Colegio Oficial de Farmacéuticos de Ciudad Real (en adelante, "La Entidad Titular" o
simplemente "El Titular"), Titular del sitio web www.cofciudadreal.com (en adelante, el “Sitio Web”), establece la
siguiente Política de Privacidad, que seguirá en el tratamiento de datos de carácter personal. Dicha política se
entiende, en todo caso, sin perjuicio de los dispuesto en el correspondiente Aviso Legal y la correspondiente Política
de Cookies.</p>
