USE [master]
GO
/****** Object:  Database [TP9_Bottarini_Piva]    Script Date: 3/10/2023 09:41:28 ******/
CREATE DATABASE [TP9_Bottarini_Piva]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP9_Bottarini_Piva', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP9_Bottarini_Piva.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP9_Bottarini_Piva_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP9_Bottarini_Piva_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP9_Bottarini_Piva].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP9_Bottarini_Piva]
GO
/****** Object:  User [alumno]    Script Date: 3/10/2023 09:41:28 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 3/10/2023 09:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UserName] [varchar](150) NULL,
	[Contraseña] [varchar](150) NULL,
	[Telefono] [int] NULL,
	[Gmail] [varchar](150) NULL,
	[Edad] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
